    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 :root
 {
    --color-1: #60aaff; 
    --color-2: #2e57df; 
 }
    
    * 
    {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
    body,html
    {
    overflow: auto;
    scrollbar-width: none; 
    }
    body 
    {
    height: 100vh;
    background: linear-gradient(0deg, #00000009, #00000009), url("https://universidadeuropea.com/resources/media/images/estudiar-finanzas-800x450.width-1024.format-webp.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .formulario 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px;
        border-radius: 10px;
        width: 100%;
        box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(5px);
        max-width: 400px;
        background-color: rgba(0, 0, 0, 0.212); 
    }

    .input-group 
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        margin-bottom: 24px;
    }

    .formulario h2 
    {
    text-align: center;
    margin-bottom: 24px;
    font-size: 30px;
    color: #ffffff;
    }

    .input 
    {
    padding: 16px 10px 6px 10px;
    width: 100%;
    padding: 16px 10px;
    border: 1px solid #ffffff;
    transition: border-color 0.3s;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
    }

    .input:focus 
    {
    border-color: #ffffff;
    }

    .placeholder 
    {
    position: absolute;
    top: 30%;
    left: 7px;
    background-color: #ffffff00;
    color: #ffffff;
    transition: 0.3s;
    }

    .input:focus + .placeholder,
    input:not(:placeholder-shown) + .placeholder 
    {
    top: -13px;
    left: 10px;
    font-size: 15px;
    color: #ffffff;
    backdrop-filter: blur(5px);
    }

    .error-message 
    {
    color: red;
    font-size: 13px;
    }

    button 
    {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color:var(--color-1);
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    }

    button:hover 
    {
    background-color: var(--color-2);
    }

    p
    {
    color: #ffffff;
    text-align: center;
    margin-top: 16px;
    }
    
    a.con
    {
    color: #ffffff;
    text-align: center;
    margin-top: 16px;
    left: -64px;
    position: relative;
    margin-top: -14px;
    padding-bottom: 15px;
    padding-top: 0px;
    margin-bottom: 12px;
    }
    
    a
    {
    color: var(--color-2);
    }
    a.inicio-sesion
    {
    color: #ffffff;
    font-weight: bold;
    }